<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include/head') %>
</head>

<body>
    <%- include('include/header') %>
        <%- include('include/aside') %>
            <main>
                <h1>Oupsss! Internal error server.</h1>
            </main>
</body>

</html>