<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
</head>

<body>
  <%- include('include/header') %>
    <%- include('include/aside') %>
      <main>
        <h1>Title of the restaurant <%= rid %>
        </h1>
        <p>Cuisine | Address</p>
        <p>Description of the resetaurant</p>
        <p>
          <a href="">Go to the restaurant's website</a>
        </p>
      </main>
</body>

</html>